$microWhiteSpace: 1.125rem;
$mediumWhiteSpace: 2rem;
$macroWhiteSpace: 2.5rem;

$inputBorderRadius: 6px;
$loblolly: #bfcad2;

$mainBackgroundColor: $loblolly;
$primaryTextColor: $loblolly;
$errorAccentColor: #EF0000;
$errorColor: #9A0000;

$defaultTextSize: 1.125rem;
$primaryFontFamily: "Titillium Web", "Helvetica Neue", Arial, sans-serif;
$primaryFontWeightLight: 300;
$primaryFontWeightRegular: 400;
$primaryFontWeightBold: 700;
$secondaryFontFamily: "Open Sans", sans-serif;
$secondaryFontWeightLight: 300;
$secondaryFontWeightRegular: 400;
$secondaryFontWeightSemiBold: 600;
$tertiaryFontFamily: "Saira Semi Condensed", sans-serif;
$tertiaryFontWeightExtraLight: 200;