@import 'src/assets/scss/_theme';

.input {
  border: 1px solid $primaryTextColor;
  border-radius: $inputBorderRadius;
  color: $primaryTextColor;
  font-size: $defaultTextSize;
  font-weight: $primaryFontWeightLight;
  line-height: 1.5;
  outline: none;
  padding: 0.375rem $microWhiteSpace;
  margin-bottom: $microWhiteSpace;
  transition: border-color 300ms ease-out;
  width: 100%;

  //&:focus,
  //&:hover {
  //  border-color: $accentColor;
  //}
}

.inputError {
  transition: box-shadow 300ms ease-out;
  box-sizing: border-box;
  border: 0.10rem solid $errorColor;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.9rem 0 $errorAccentColor;

  &:focus,
  &:hover {
    box-shadow: 0 0 0.9rem 0 $errorAccentColor;
  }
}

